!!! 5
%html
  %head
    %meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    %title 0x65
    %link(href="stylesheets/0x65.css" rel="stylesheet")
    %script _gaq=[['_setAccount','UA-24363685-1'],['_trackPageview'],['_trackPageLoadTime']];
    %script(src="http://www.google-analytics.com/ga.js" async="true")
  %body
    #nav
      %a(href="#about") 关于我们
      %a(href="#member") 创始会员
      %a(href="#plan") 时间规划
      %a(href="#contact") 联系我们
      %a(href="http://weibo.com/0x65") 关注@0x65
      %a(href="https://twitter.com/0x65") Follow @0x65
    #about.center
      %h1 0x65
      %h2 上海非盈利Geek基地
      .desc
        %p 0x65是16进制的101，为了纪念101位geek一起创建了她！
        %p
          了解0x65的
          %a(href="#about_goal") 创建目的
          和
          %a(href="#about_idea") 基本构思
    #about_goal
      .center
        %embed(src="http://player.youku.com/player.php/sid/XMjk3MDUxMzI0/v.swf" quality="high" width="800" height="600" align="middle" allowScriptAccess="sameDomain" allowFullscreen="true" type="application/x-shockwave-flash" wmode="transparent")
        %h3 创建目的
        %p 我们IT人需要一个属于自己的基地！！～
        %p
          经常会在上海参加各式各样的IT技术聚会，他们分散在这个城市的各个角落，老是有种在各地“流浪”的感觉，没有一个地方是真正属于我们的。
          %br
          所以我就想如果有个基地，是属于所有Geek自己的，那就太棒了！！
        %p 她同时还是一个非盈利组织，不仅仅是所有Geek聚会场所，同时她也在传播Geek的文化， 以及帮助更多有梦想的小团队，让他们实现自己的理想。
    #about_idea
      .center
        %h3 基本构想
        %p
          0x65将来会处于上海的市中心，交通会相当的便利。但是绝对不会是门面房子，需要你花心思去寻找一下才能找到。不过一定充满着文化气息，而且干净，整洁。
          %br
          0x65的地方不会很大，可能就100- 200个平方, 会有至少2个房间：
        %p
          一个房间作为大家聚会之用，会提供好喝的咖啡以及饮料， Geek相关的书籍。环境设计会比较符合Geek的风格，比如说会摆设一些早期的电脑，墙壁上面可能写着各种技术的历史以及发展。
          %br
          如果你想换个环境敲敲代码，找个地方作为Geek们小聚一下，都可以过来坐坐。
        %p 到时候，里面会充满着各种各样有意思的活动，从机器人，到编程比赛，只有你想不到的，没有不可能出现的事情。
        %p 甚至，如果可以的话，0x65将会是在一个复式的房子里面，楼下有2间大房间，以及一个小小的院子，给大家呼吸新鲜空气。2楼会有2-3个孵化室，每间孵化室大概有15个平方左右，会有写字台，一个上下铺以及一些简单的家具。专门提供给一些想要实现自己梦想的geek们，让他们吃在一起，住在一起，用最短的时间，把自己的产品给做出来。同样0x65不会收取他们任何费用，乃至提供一定的资金帮助。
        %p
          我们现在还在召集101名Geek，如果你有兴趣，请联系
          %a(href="mailto:mike@gurudigger.com") mike@gurudigger.com
    #member.center
      %h3 创始会员
      #memberbox.center
        %p#member_number
          - 7.times do
            %span [ 0 ]
        #membershow
          - get_members.each do |member|
            %div(id="member_#{member[:id]}" style="#{member[:id] == 0 ? '' : 'display:none'}")
              %h3
                = member[:display_id]
                = member[:name]
              %img(src="#{member[:head]}" alt="#{member[:name]}")
              %p.content= member[:say]
              %p.contact= member[:contact]
      %h4 成为创始会员的条件
      %p 任何一名在太阳系的行星 - 地球 有居住证的居民，都可以申请，通过审核之后，只需要一次性对0x65捐赠 700 RMB 或者 100 USD，即可成为创始会员。创始会员仅限101名，会员资格不可转、继承。
      %h3 创始会员的权利
      %h4 1. 投票权
      %p 所有创始会员对于0x65重大事项都有投票权，i.e. logo 选择 ， 资助团队/项目的选择。
      %h4 2. 创始捐赠资金的知情权 和 监督权
      %p 所有创始会员对于0x65的101名创始捐赠资金的使用方式有知情权，以及对于认为使用不当的款项具有监督权。对于使用不当的款项，任何一名创始会员可以提出，若得到大于70%以上的创始会员支持，该笔款项不能够作为0x65创始费用入账。
      %h4 3. 提议权
      %p 任何一名创始会员都可以对于0x65提出自己的建议，如果得到大于等于2/3创始会员的支持，就可以执行。但是mike对于所有提议有1票否决权。
      %h4 4. 退出创始会员
      %p a. 任何一名会员，可在任何时候，提出退出，审核通过后，即时退出。
      %p b. 任何一名会员，对于任何一名其他创始会员，可以提议强制踢出该会员。该提议得到90%以上的创始会员同意后，该会员即被强制提出0x65创始会员。
      %p 任何情况的退出，创始会员的捐赠费用都不予退回。
      %h4 5.退款
      %p 如果最后0x65 这个项目很遗憾的失败了， 我会把财务报表里面余下的钱按比例退还给大家。
      %h4 6. Mike 个人承诺
      %p 如果0x65 开出来，所有创始会员，这辈子过来都免费。
    #plan
      .center
        %h3 April 1st  - June 30th
        %p 完成Geek 基因测试门
        %p Geek 基因测试门题库完成
        %p 0x65 网站 Wiki 页面调整完成
        %h3 July 1st - July 31st
        %p 0x65 Cafe Machine 研制
        %p 准备商业计划书
        %h3 Aug 1st - Aug 31th
        %p 0x65 自动双门研制
        %p 筹集第一笔赞助
        %h3 Sept 1st - Sept 31th
        %p 0x65 项目分享网上预约系统
        %p 采集0x65贩卖设备
        %p 筹集第二笔赞助
        %h3 Oct 1st - Oct 31st
        %p 寻找场地
        %p 场地布置 + 家具购买
        %p 饮料 / 咖啡原料购买
        %p 冰箱 等设备添加
        %p 筹集第三笔赞助
        %h3 Nov 1st 正式开张
        %p 0x65 内部饮料订单系统

    #contact.center
      %p
        我们现在还在召集101名Geek，如果你有兴趣，请联系
        %a(href="mailto:mike@gurudigger.com") mike@gurudigger.com
    #footer
      .center
        %p &copy; 2011 0x65.io
    %script(src="javascripts/jquery.js")
    %script
      :plain
        $(window).resize(function(){
          var h = window.innerHeight, list = ['about', 'contact'];
          $.each(list, function(i, id){
            var self = $('#'+id), padding = (h - self.height())/2 - 20;
            self.css({
              'padding-top': padding,
              'padding-bottom': padding
            });
          });
        }).trigger('resize');
        $('body').delegate('a', 'click', function(){
          var hash = this.hash;
          if(this.host === window.location.host && hash.indexOf('#') === 0 && hash.length > 1){
            var target = $(hash);
            if(target.length > 0 && $(this).data('scroll') !== false){
              $('html, body').stop().clearQueue().animate({scrollTop: $(hash).offset().top}, 600, function(){
                window.location.hash = hash;
              });
              return false;
            }
          }
        });
        function showcard_start(){
          return setInterval(function(){
            $('#memberbox').trigger('showcard');
          }, 10000);
        }
        $('#memberbox').bind('showcard', function(e, hash){
          var target = $(hash), shown = $('#membershow div:visible');
          if(typeof hash === 'undefined'){
            target = shown.next().length > 0 ? shown.next() : $('#membershow div:first');
          }
          if(target.length > 0){
            if(shown.length > 0){
              shown.css('display', 'none');
            }
            target.fadeIn('slow');
            var id = /[0-9]+/.exec(target[0].id)[0];
            $('#member_number').html($.makeArray($.map(id, function(n){ return '<span>[ ' + n + ' ]</span>'; })).join(' '));
            return true;
          }
          return false;
        }).delegate('#member_number span', 'click', function(){
          this.innerHTML = this.innerHTML === '[ 0 ]' ? '[ 1 ]' : '[ 0 ]';
          return !$(this).trigger('showcard', '#member_' + $.makeArray($('#member_number span').map(function(){ return this.innerHTML.charAt(2); })).join(''));
        }).data('timer', showcard_start()).mouseenter(function(){
          clearInterval($(this).data('timer'));
        }).mouseleave(function(){
          $(this).data('timer', showcard_start());
        });
